aws_region            = "us-west-2"
aws_availability_zone = "us-west-2a"
site_prefix           = "scholarspace-tf-test"

instance_type = "c7i.xlarge"
root_volume_size_gb = 120
root_volume_type    = "gp3"

key_name        = "scholarspace-prod-key"
public_key_path = "/path/to/local/private/key.pem"

ssh_allowed_cidrs = [""]

repo_clone_url = "https://github.com/gwu-libraries/scholarspace-5-test.git"

# this sets the branch that gets cloned on deployment. Once merged, this should point to main. 
deploy_git_ref = "t68-prod-dev-test-configs"

ssm_env_parameter_name = "/scholarspace/prod/env"

s3_bucket_name = "scholarspace-tf-test"
s3_prefix = ""

vpc_cidr    = "10.0.0.0/16"
subnet_cidr = "10.0.1.0/24"
